<h1>Show a Restaurant</h1>

<h2><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>
<p>Phone_number: <%= @restaurant.phone_number %></p>